// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");
@import url("https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,500,500i,600,600i,700,700i&amp;subset=latin-ext");
// Variables
@import "variables";
// Bootstrap
@import "~bootstrap/scss/bootstrap";

body {
  background: #EBEEF1;

  h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
    color: #3B342D;
  }

  p {
    color: #313C50;
    font-size: 16px;
  }

  // Main header
  #main-header {

    // Top bar
    #top-bar {
      width: 100%;
      min-height: 120px;
      background: #3B342D;

      .container {
        height: 100%;

        .row {

          height: 100%;

          .col-md-4 {

            &.phone {

              a {
                font-family: 'Montserrat', sans-serif;
                color: #fff;
                font-size: 28px;
                margin-top: 20px;
                display: inline-block;

                &:hover {
                  text-decoration: none;
                }
              }
            }

            &.logo {
              text-align: center;

              a {

                img {
                  height: 100px;
                }
              }
            }

            &.book-now-button {
              text-align: right;

              & > div {
                margin-top: 35px;
                width: 100% !important;

                & > div {
                  width: 100% !important;

                  input {
                    font-size: 18px;
                    width: 100% !important;
                    padding: 5px 35px;
                    outline: none;
                  }
                }
              }
            }
          }
        }
      }
    }

    // Main nav
    #main-nav-wrapper {
      width: 100%;
      position: absolute;
      z-index: 1000000;
      top: 0;
      left: 0;
      background: rgba(59, 52, 45, 0.86);
      min-height: 58px;

      #main-nav {
        height: 100%;

        .row {
          height: 100%;

          nav {

            a {
              font-family: 'Montserrat', sans-serif;
              font-size: 20px;
              color: #fff;
              font-weight: 500;
            }
          }
        }
      }
    }

    #check-availability-wrapper {
      width: 100%;
      min-height: 140px;
      position: absolute;
      bottom: 0;
      left: 0;
      background: #3B342D;

      #check-availability {
        height: 100%;

        .row {
          height: 100%;

          button {
            font-weight: bold;
          }

          h2 {
            color: #fff;
            font-size: 50px;
            margin-top: 30px;
          }

          .form {
            padding-top: 30px;
          }
        }
      }
    }

    // Main carousel
    #main-carousel-wrapper {
      position: relative;
      padding: 0;
      overflow: hidden;

      .carousel-item {

        img {
          width: 100%;
        }
      }

      .carousel-indicators {
        bottom: 22%;
      }
    }
  }

  // Main content
  #main-content {
    min-height: 600px;

    .main-content-block {
      padding-top: 60px;
    }

    // Rooms
    #rooms {

      .room-box {
        margin-top: 30px;
        background: #fff;

        .image {

          img {
            width: 100%;
          }
        }

        .content {
          width: 100%;

          h3 {
            margin: 10px auto 20px;
            font-size: 22px;
          }

          .booking-button {
            margin: 10px auto 20px;
            text-align: center;

            input {
              width: 100%;
              border-radius: 3px;
              outline: none;
            }
          }
        }
      }
    }

    // About
    #about {

      .text {

      }
    }

    #icons {

      img {
        width: 100%;
      }
    }

    // Contact
    #contact {

      form {
        margin-top: 30px;

        input {

          &[type="submit"] {
            padding: 5px 20px;
            background: #CCC6AE;
            color: #3B342D;
            font-weight: bold;
          }
        }
      }

      small {
        font-size: 10px;
      }

      .map {

        iframe {
          width: 100%;
          height: 420px;
        }
      }
    }
  }

  // Main footer
  #main-footer {
    width: 100%;
    min-height: 60px;
    background: #3B342D;
    margin-top: 50px;
    text-align: center;

    #footer-nav {
      width: 100%;
      margin: 0 auto;

      li {

        a {
          color: #fff;
          line-height: 45px;
        }
      }
    }
  }
}

@media screen and (max-width: 767px) {

  body {

    #main-header {


      #top-bar {

        .phone {
          text-align: center;
          margin-bottom: 15px;
        }

        .book-now-button {
          text-align: right;

          & > div {
            margin-bottom: 20px;
          }
        }
      }


      #main-carousel-wrapper {

        #main-carousel {


          .carousel-item {

            img {
              width:100%;
            }
          }

          .carousel-indicators {
            display: none;
          }
        }
      }

      #check-availability-wrapper {
        bottom: 0;

        #check-availability {

          .title {
            text-align: center;

            h2 {
            }
          }

          .form {

            padding-bottom: 20px !important;
          }
        }
      }
    }

    #main-footer {

      #footer-nav {

        li {

          a {
            font-size: 11px;
          }
        }
      }
    }
  }
}